.test-block {
  display:block;
  background-color: #ff0000;
  width:100%;
}

.background-100 {
  width:100%;
  background-color:#000!important;
  min-height: 1000px;
}

.spacer-20 {
  height: 20px;
  display: block;
}

.spacer-80 {
  height: 80px;
  display: block;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.header-style {
  background-image: url("/Images/General/Header-Blank.jpg");
  background-size: auto 100%;
  position: fixed;
  display: block;
  top: 0px;
  left: 0px;
  height: auto;
  width: 100%;
  padding: 20px;
  z-Index: 99;
}

.position-relative {
  position: relative;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.half-width {
  margin-left: 0px;
  margin-right: 0px;
}

.header-logo {
  display:block;
  margin-Left: auto;
  margin-Right: auto;
  width: 100%;
  max-Width: 150px;
  height: auto;
}

@media only screen and (max-width:576px) {
  .hide-on-mob {
    display:none;
  }
}
