.App {
  /* margin-top: 15px; */
  background-image: url("/Images/General/Background.png");
  background-size: 100%;
  width: 100%;
  min-height: 937px;
}

.App .navbar-brand {
  font-weight: bold;
}

