.App {
  /* margin-top: 15px; */
  background-image: url("/Images/General/Background-Tile.png");
  /* background-size: cover; */
  width: 100%;
  min-height: 1800px;
  /* background-repeat: repeat-y; */
}

.App .navbar-brand {
  font-weight: bold;
}